body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ddd;
    font-weight: bolder;
    font-size: x-large;
    background-color: #2e2d2d;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

header nav {
    position: relative;
}

#topo {
    text-align: center;
}

#topo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex; /* Alinha itens em linha para desktop */
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 1px 0;
    font-size: 13px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.footer-link.instagram .footer-icon {
    width: 38px;
    height: 35px;
}

.produtos__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.produtos__lista__item {
    flex: 1 1 calc(30% - 20px);
    box-sizing: border-box;
    border: 4px solid #dddddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.produtos__lista__item img {
    width: 50%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.produtos__lista__item__conteudo__informacoes {
    padding: 10px;
}

body a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

body a:hover {
    color: #5014b6;
}

body .footer-icon {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

body .instagram-link {
    color: #e1306c;
}

body .instagram-link:hover {
    color: #f4f4f4;
}

body .whatsapp-link {
    color: #25d366;
}

body .whatsapp-link:hover {
    color: #f4f4f4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalImage {
    width: 100%;
    height: auto;
}

.modal-description {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

#category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

#category-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
}

#category-buttons button:hover {
    background-color: #ddd;
}

.categoria-laços h2,
.categoria-catalogo h2,
.categoria-florzinhas h2,
.categoria-borboletinhas h2 {
    font-size: 2em;
    text-align: center;
}

.categoria-laços h2 {
    color: #FF6347;
}

.categoria-catalogo h2 {
    color: #FF6347;
}

.categoria-florzinhas h2 {
    color: #32CD32;
}

.categoria-borboletinhas h2 {
    color: #1E90FF;
}

.produtos__categoria h2 {
    margin-bottom: 20px;
}

#quem-somos {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    background: rgba(45, 44, 44, 0.8);
    border-radius: 10px;
}

.empresa-foto {
    max-width: 45%;
    border-radius: 10px;
}

.empresa-texto {
    max-width: 50%;
}

.empresa-texto h1 {
    font-size: 36px;
    margin-bottom: 45px;
    text-shadow: 2px 2px 4px rgb(255, 3, 3);
}

.empresa-texto p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
}

/* Menu específico para dispositivos móveis */
.menu-toggle {
    display: none; /* Oculta o botão em telas maiores */
}

.menu-toggle button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Menu oculto */
.hidden {
    display: none;
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Botão do menu visível em dispositivos móveis */
    .menu-toggle {
        display: block;
        text-align: center;
        margin: 10px;
    }

    /* Menu oculto por padrão em dispositivos móveis */
    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f8f8f8;
    }

    /* Menu visível quando a classe 'show' é adicionada */
    #nav-menu.show {
        display: flex;
    }

    /* Menu itens no formato de coluna */
    #nav-menu li {
        margin: 10px 0;
    }
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Botões de categoria no dispositivo móvel */
    #category-buttons {
        display: flex;
        flex-direction: column; /* Empilha os botões verticalmente */
        align-items: center; /* Alinha os botões ao centro */
        margin: 10px;
    }

    #category-buttons button {
        width: 100%; /* Botões ocupam a largura total */
        margin: 5px 0; /* Espaçamento entre os botões */
        font-size: 18px; /* Tamanho da fonte ajustado */
    }

    .produtos__lista {
        flex-direction: column; /* Empilha os itens de produto verticalmente */
        align-items: center; /* Alinha os itens ao centro */
    }

    .produtos__lista__item {
        width: 100%; /* Itens de produto ocupam a largura total */
        max-width: 400px; /* Limita a largura máxima dos itens de produto */
        margin: 10px 0; /* Espaçamento entre os itens de produto */
    }
}